.success-message {
    background-color: green;
    color: white;
    text-align: center;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .error-message {
    background-color: red;
    color: white;
    text-align: center;
    padding: 10px;
    margin-bottom: 10px;
  }
  